<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>ServletFrom</servlet-name>
		<servlet-class>jp.co.bussiness.servlet.connect.ServletFrom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletTo</servlet-name>
		<servlet-class>jp.co.bussiness.servlet.connect.ServletTo</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HttpClientFrom</servlet-name>
		<servlet-class>jp.co.bussiness.servlet.connect.HttpClientFrom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HttpClientTo</servlet-name>
		<servlet-class>jp.co.bussiness.servlet.connect.HttpClientTo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletFrom</servlet-name>
		<url-pattern>/From</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletTo</servlet-name>
		<url-pattern>/To</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HttpClientFrom</servlet-name>
		<url-pattern>/HttpClientFrom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpClientTo</servlet-name>
		<url-pattern>/HttpClientTo</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/jsp/index.jsp</welcome-file>
		<welcome-file>/jsp/index.html</welcome-file>
		<welcome-file>/jsp/index.htm</welcome-file>
	</welcome-file-list>


</web-app>